header{
    background-color: $negro;
    position:fixed;
    @include sizes(100%,);
    .logoStarWars{
        margin:auto;
        display:block;
        width: 12%;
    }
    .menu{
        list-style-type: none;
        background-color: $blanco-transparencia;
        padding: 0;
        @include sizes(80%);
        margin: auto;
        display: inline-block;
        text-align: center;
        li{
            text-align: center;
            display: inline-block;

            a{
                color: $negro;
                text-decoration: none;
                display: inline-block;
                padding: 20px;
                font-family: $titulos;
            }
        }
        .menu li a:hover{
            background-color: $amarillo;
            color: rgb(92, 92, 92);
            transform: scale(1.2, 1.2);
            transition: all .5s ease;
        }
    }
}









