
#tablaSaga{
    #tituloSaga{
        color: black;
        font-family: $titulos;
        font-size: 2rem;
        text-align: center;
    }
    #paresSaga{
        background-color: #dba80d50;
        #imagenesSaga{
            @include sizes(150px,);
        }

        .textoSaga{
            font-size: 12px;
            text-align: center;
            font-family: $textos;
        }
    
    }
    #imparesSaga{
        background-color: none;
        #imagenesSaga{
            @include sizes(150px,);
        }
        .textoSaga{
            font-size: 12px;
            text-align: center;
            font-family: $textos;
        }
    }
}