@import "index";
@import "header";
@import "main";
@import "saga";
@import "blog";
@import "personajes";
@import "clubdefans";
@import "footer";
@import "mediaqueries";
@import "colores";

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }

 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png);
}
